
$bg-color: #FFFFFF;
$txt-color: rgba(0, 0, 0, 0.85);
$txt-font:  "Poppins", sans-serif;
$txt-desc: rgba(0, 0, 0, 0.50);
$red: linear-gradient(0deg, rgba(245, 35, 75, 0.40) 0%, rgba(245, 35, 75, 0.40) 100%), #F5234B;
$yellow: (linear-gradient(0deg, #F5C200 0%, #F5C200 100%), rgba(245, 194, 0, 0.40));
$blue: (linear-gradient(0deg, rgba(0, 112, 245, 0.40) 0%, rgba(0, 112, 245, 0.40) 100%), #0070F5);
$green: (linear-gradient(0deg, rgba(30, 195, 55, 0.40) 0%, rgba(30, 195, 55, 0.40) 100%), #1EC337);


@mixin m-title {
    color: $txt-color;
    font-size: 1.35rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
}

@mixin s-title {
font-size: 1rem;
font-style: normal;
font-weight: 590;
line-height: 1.25rem;
}

@mixin t-desc{
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    color: rgba(0, 0, 0, 0.50);
}

@mixin s-line{
    border-radius: 0.5rem;
    height: 2px;
}

@mixin task-box{
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.05);
}

@mixin move-up-down{
    height: 24px;
    width: 24px;
    border-radius: 50%;
}